.navbar {
  &__heading {
    text-align: center;
  }
  &__content {
    text-align: center;
    h5 {
      margin: 0;
    }
    div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      flex-wrap: wrap;
      p,
      a {
        margin-right: 30px;
        color: white;
        text-decoration: none;
        @media only screen and (max-width: 912px) {
          margin: 10px;
        }
      }
      a:hover {
        border-bottom: 1px solid orange;
        padding-bottom: 3px;
        font-size: 19px;
        transition: ease-in-out 0.4s;
      }
    }
  }
}

.back-to-top {
  position: relative;
  &__icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  &__icon-style {
    background-color: #9f2bd3;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    &:hover {
      animation: none;
      background: #fff;
      color: #9f2bd3;
      border: 2px solid #9f2bd3;
    }
  }
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
